In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mat
import matplotlib.pyplot as plt
from tabulate import tabulate

In [2]:
data = pd.read_csv("DS1_C8_V3_ND_Sprint3_BankChurn_Data.csv")
data.head(5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Region,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Trans_Amt,Total_Trans_Ct,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,England,39,5,1,3,12691.0,777,11914.0,1144,42,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,Northern Ireland,44,6,1,2,8256.0,864,7392.0,1291,33,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,England,36,4,1,0,3418.0,0,3418.0,1887,20,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,Wales,34,3,4,1,3313.0,2517,796.0,1171,20,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,England,21,5,1,0,4716.0,0,4716.0,816,28,0.000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             9995 non-null   object
 9   Region                    10127 non-null  object
 10  Months_on_book            10127 non-null  int64
 11  Total_Relationship_Count  10127 non-null  int64
 12  Months_Inactive_12_mon    10127 non-null  int64
 13  Contacts_Count_12_mon     10127 non-null  int64
 14  Credit_Limit              10067 non-null  float64
 15  Total_Revolving_Bal       10127 non-null  int64
 16  Avg_Open_To_Buy           10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(3), int64(10), object(7)
memory usage: 1.5+ MB

In [4]:
##displaying summary statistics of the data-set
data.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Trans_Amt,Total_Trans_Ct,Avg_Utilization_Ratio
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10067.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.382245,2.787400,35.928409,3.812580,2.341167,2.455317,8703.180550,1162.814061,7469.139637,4404.086304,64.858695,0.274894
std,3.690378e+07,8.341393,6.479135,7.986416,1.554408,1.010622,1.106225,9190.058902,814.987335,9090.685324,3397.129254,23.472570,0.275691
min,7.080821e+08,18.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,510.000000,10.000000,0.000000
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.500000,359.000000,1324.500000,2155.500000,45.000000,0.023000
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4557.000000,1276.000000,3474.000000,3899.000000,67.000000,0.176000
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11127.500000,1784.000000,9859.000000,4741.000000,81.000000,0.503000
max,8.283431e+08,89.000000,143.000000,56.000000,6.000000,6.000000,6.000000,34664.000000,2517.000000,34516.000000,18484.000000,139.000000,0.999000

In [5]:
##diplaying numerical datatypes for performing outlier analysis

data.select_dtypes(int,float).columns

Index(['CLIENTNUM', 'Customer_Age', 'Dependent_count', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Total_Revolving_Bal', 'Total_Trans_Amt',
       'Total_Trans_Ct'],
      dtype='object')

In [12]:
##replacing outliers with mean
def replace_outliers_with_mean(df, columns):
   
    df_copy = df.copy()

    for column in columns:
        q1 = df_copy[column].quantile(0.25)
        q3 = df_copy[column].quantile(0.75)
        iqr = q3 - q1

        lower_bound = q1 - 1.5 * iqr
        upper_bound = q3 + 1.5 * iqr

        outliers = (df_copy[column] < lower_bound) | (df_copy[column] > upper_bound)

        df_copy.loc[outliers, column] = df_copy[column].mean()

    return df_copy

In [11]:
columns = ['CLIENTNUM', 'Customer_Age', 'Dependent_count', 'Months_on_book', 'Total_Relationship_Count',
           'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Total_Revolving_Bal', 'Total_Trans_Amt',
           'Total_Trans_Ct']
data_replaced_outliers = replace_outliers_with_mean(data, columns)

data_replaced_outliers

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Region,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Trans_Amt,Total_Trans_Ct,Avg_Utilization_Ratio
0,768805383.0,Existing Customer,45.0,M,3.0,High School,Married,$60K - $80K,Blue,England,39.0,5.0,1.0,3.000000,12691.0,777.0,11914.0,1144.000000,42.0,0.061
1,818770008.0,Existing Customer,49.0,F,5.0,Graduate,Single,Less than $40K,Blue,Northern Ireland,44.0,6.0,1.0,2.000000,8256.0,864.0,7392.0,1291.000000,33.0,0.105
2,713982108.0,Existing Customer,51.0,M,3.0,Graduate,Married,$80K - $120K,Blue,England,36.0,4.0,1.0,2.455317,3418.0,0.0,3418.0,1887.000000,20.0,0.000
3,769911858.0,Existing Customer,40.0,F,4.0,High School,Unknown,Less than $40K,Blue,Wales,34.0,3.0,4.0,1.000000,3313.0,2517.0,796.0,1171.000000,20.0,0.760
4,709106358.0,Existing Customer,40.0,M,3.0,Uneducated,Married,$60K - $80K,Blue,England,21.0,5.0,1.0,2.455317,4716.0,0.0,4716.0,816.000000,28.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833.0,Existing Customer,50.0,M,2.0,Graduate,Single,$40K - $60K,Blue,England,40.0,3.0,2.0,3.000000,4003.0,1851.0,2152.0,4404.086304,117.0,0.462
10123,710638233.0,Attrited Customer,41.0,M,2.0,Unknown,Divorced,$40K - $60K,Blue,England,25.0,4.0,2.0,3.000000,4277.0,2186.0,2091.0,4404.086304,69.0,0.511
10124,716506083.0,Attrited Customer,44.0,F,1.0,High School,Married,Less than $40K,Blue,England,36.0,5.0,3.0,4.000000,5409.0,0.0,5409.0,4404.086304,60.0,0.000
10125,717406983.0,Attrited Customer,30.0,M,2.0,Graduate,Unknown,$40K - $60K,Blue,England,36.0,4.0,3.0,3.000000,5281.0,0.0,5281.0,8395.000000,62.0,0.000
10126,714337233.0,Attrited Customer,43.0,F,2.0,Graduate,Married,Less than $40K,Silver,Scotland,25.0,6.0,2.0,4.000000,10388.0,1961.0,8427.0,4404.086304,61.0,0.189

In [14]:
##showing missing values

data.isnull().sum()

CLIENTNUM                     0
Attrition_Flag                0
Customer_Age                  0
Gender                        0
Dependent_count               0
Education_Level               0
Marital_Status                0
Income_Category               0
Card_Category               132
Region                        0
Months_on_book                0
Total_Relationship_Count      0
Months_Inactive_12_mon        0
Contacts_Count_12_mon         0
Credit_Limit                 60
Total_Revolving_Bal           0
Avg_Open_To_Buy               0
Total_Trans_Amt               0
Total_Trans_Ct                0
Avg_Utilization_Ratio         0
dtype: int64

In [16]:
##missing value imputration using mode

mode_Card_Category = data["Card_Category"].mode()[0]
data["Card_Category"].fillna(mode_Card_Category, inplace = True)

In [17]:
mode_Credit_Limit = data["Credit_Limit"].mean()
data["Credit_Limit"].fillna(mode_Credit_Limit, inplace = True)

In [18]:
data.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Region                      0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Trans_Amt             0
Total_Trans_Ct              0
Avg_Utilization_Ratio       0
dtype: int64

In [19]:
data

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Region,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Trans_Amt,Total_Trans_Ct,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,England,39,5,1,3,12691.0,777,11914.0,1144,42,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,Northern Ireland,44,6,1,2,8256.0,864,7392.0,1291,33,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,England,36,4,1,0,3418.0,0,3418.0,1887,20,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,Wales,34,3,4,1,3313.0,2517,796.0,1171,20,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,England,21,5,1,0,4716.0,0,4716.0,816,28,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,England,40,3,2,3,4003.0,1851,2152.0,15476,117,0.462
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,England,25,4,2,3,4277.0,2186,2091.0,8764,69,0.511
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,England,36,5,3,4,5409.0,0,5409.0,10291,60,0.000
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,England,36,4,3,3,5281.0,0,5281.0,8395,62,0.000
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,Scotland,25,6,2,4,10388.0,1961,8427.0,10294,61,0.189

In [21]:
data.to_csv('customer_churn.csv', index=False)